@import "_colors.scss";
@import "_mixins.scss";

.about-section {
  @include clearfix;

  color: rgba($color_primary, 0.85); font-size: 18px;

  h1 { margin: 0 0 80px 0; }

  .img { height: 500px; width: 500px; border: 5px solid $color_primary; margin: 0 60px 40px 0;
    border-radius: 50%; background-size: cover; background-image: url('/images/fam.jpg'); opacity: .75;
    float: left; background-clip: content-box; shape-outside: circle();
  }
}
